<div id="form_container">
	<%= form_for @story do |s| %>
		<div id="story_form_title">
			<%= s.text_field :title, :rows => "1", :cols => "40" %>
		</div>
		<div id="story_form_keywords">

		</div>
		<div id="story_form_body">
			<%= s.text_area :body, :rows => "20", :cols => "80" %>
		</div>
		<div>
		<%= s.hidden_field :user_id, :value => current_user.id %>
		</div>
		<div id="story_form_submit">
			<%= s.submit %>
		</div>
	<% end %>
</div>