<h1> all the stories </h1>


<% @stories.each do |story| %>
	<div class="story_box">
		<%= link_to story.title, story %><br>
		<%= story.body[0..5] %><br>
		<br><br>
		<p> three little words: </p>
		<%= story.keywords.first.wordone %>,
		<%= story.keywords.first.wordtwo %>,
		<%= story.keywords.first.wordthree %>

	</div>
<% end %>