<h1> all the stories </h1>


<% @stories.each do |story| %>
	<div class="story_box">
		<div id="story_box_title">
			<%= link_to story.title, story %><br>
		</div>
		<div id="story_box_body">
			<%= story.body[0..50] %>...<br>
		</div><br>
		<div id="story_box_keywords">
			three little words:
			<%= story.keywords.first.wordone %>,
			<%= story.keywords.first.wordtwo %>,
			<%= story.keywords.first.wordthree %>
		</div>
	</div>
<% end %>