<class id="story_layout">
	<div id="story_title">
		<%= @story.title %>
	</div>
	<div id="story_keywords">
		<%= Keyword.display_keywords(@keyword) %>
	</div>
	<br>
	<div id="story_body">
		<%= @story.body %>
	</div>
</class>

<% if @story.author.id == session[:user_id] %>
	<%= link_to "edit story", edit_story_path(@story)%><br>
	<%= link_to "delete story", @story, method: :delete%><br>
<% end %>