<!DOCTYPE html>
<html>
<head>
  <title>Trinity</title>
  <link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if current_user %>
	<div class="navbar">
		<ul>
			<div id="left_navbar">
			<li>Welcome, <%= current_user.name %>!</li>
		</div>
			<div id="right_navbar">
			<li><%= link_to "home", stories_path %></li>
			<li><%= link_to "sign out", signout_path %></li>
		</div>
		</ul>
	</div>
<% end %>

<%= yield %>

</body>
</html>
